AI Lead Machine Agent.json
{
  "name": "AI Lead Machine Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Machine",
        "formDescription": "Provide the Info Below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Type",
              "placeholder": "e.g. Plumber",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "e.g. Rome, Italy",
              "requiredField": true
            },
            {
              "fieldLabel": "Lead Number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Friendly"
                  },
                  {
                    "option": "Professional"
                  },
                  {
                    "option": "Simple"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "GO 🚀"
        }
      },
      "id": "2bf43728-ea79-434c-8d30-ee6a0e5a7f62",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -1648,
        112
      ],
      "webhookId": "ce3fcd0b-b232-4365-a123-95c1c4e692a6",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "=Apify_Actor_Endpoint_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.Location }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Lead Number'] }},\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json['Business Type'] }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
        "options": {}
      },
      "id": "1706ccd3-f761-4bfe-99c2-c0b04737eb3c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1392,
        112
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# Business Data",
        "height": 336,
        "width": 752,
        "color": 3
      },
      "id": "1d8af27a-0c99-4676-9c06-0981bc369609",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "text": "=Website: {{ $json.website }}",
        "attributes": {
          "attributes": [
            {
              "name": "Email Address",
              "description": "=find out the best only one email address from the website after scraping the website. The mail address have to be in ideal format.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "0bf1c184-4350-49c1-aa2e-185cfc6e7b43",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -1776,
        464
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8a00bdd8-e8f4-4e4f-aa3b-c83a5b3cf885",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1680,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0906e21a-0958-433e-b400-8694915ef3c9",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "leftValue": "={{ $json.website }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "9a0d3b05-dc19-4032-bbfa-b2038f7b98f6",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1136,
        112
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit?usp=drivesdk",
          "cachedResultName": "n8n Test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Address": "={{ $('Filter').item.json.address }}",
            "Website": "={{ $('Filter').item.json.website }}",
            "Category": "={{ $('Filter').item.json.categoryName }}",
            "Company Name": "={{ $('Filter').item.json.title }}",
            "Email Address": "={{ $json.output['Email Address'] }}",
            "Phone Nummber": "={{ $('Filter').item.json.phoneUnformatted }}"
          },
          "schema": [
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Nummber",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Nummber",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Cold Mail Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SEND Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3172edce-28d4-46e0-a206-cbb81422ccc3",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -1072,
        448
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "0601f2d2-2522-471e-9e11-29498a47e19a",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.output['Email Address'] }}",
              "rightValue": "@"
            }
          ]
        },
        "options": {}
      },
      "id": "7a33afc2-052f-4e5a-9566-9ab05eea962b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -1360,
        464
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "1e39cc9c-83e5-41cd-93d1-42ed52817dfd",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -1072,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Getting the Email Address",
        "height": 368,
        "width": 1136,
        "color": 4
      },
      "id": "2708234b-15b3-4c22-a0be-da130acc5626",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Email Address'] }}",
        "subject": "={{ $('Information Extractor1').item.json.output['Mail Subject'] }}",
        "emailType": "text",
        "message": "={{ $('Information Extractor1').item.json.output['Mail Body'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "6acaa8c0-9668-45ce-838d-41d165c83d0a",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "maxTries": 2,
      "position": [
        -720,
        880
      ],
      "webhookId": "9ce15ceb-1aeb-4dd7-b269-f981f431c05f",
      "executeOnce": false,
      "retryOnFail": false,
      "typeVersion": 2.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "=You are a perfect cold mail generator for a Digital Marketing Agency named Upward Engine.\n\nHere's the Information about the Recipient:\n\nCompany Name: {{ $('Loop Over Items').item.json['Company Name'] }}\nBusiness Type: {{ $('Loop Over Items').item.json.Category }}\n\nEmail Style / Email Tune : {{ $json['Email Style'] }}\n\nThe Email style is given just to understand how the mail will be.\n\nInstructions:\n\n1. Always start with giving a greting to the Company like Hi Company Name,\n2. Always use We not I.\n3. Mail have to be professional, Clean and to the point\n4. At last give a Signeture Like:\n   [Your Name]\n  [Your Company/Agency Name]",
        "attributes": {
          "attributes": [
            {
              "name": "Mail Subject",
              "description": "Eye catchy mail Subject for the cold mail",
              "required": true
            },
            {
              "name": "Mail Body",
              "description": "=body message of the mail, a perfect and clear cold mail.",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "id": "7c224f60-49d0-498f-872e-c6f96b79c2a2",
      "name": "Information Extractor1",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        -1360,
        880
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "26a9c5fb-589e-4806-871f-a49b80a7fc3e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1264,
        1008
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit?usp=drivesdk",
          "cachedResultName": "n8n Test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "SEND Time": "={{ $('Edit Fields1').item.json['Send Time'] }}",
            "Email Address": "={{ $('Edit Fields1').item.json['Email Address'] }}",
            "Cold Mail Status": "✅"
          },
          "schema": [
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Website",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Nummber",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Phone Nummber",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Address",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Cold Mail Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Cold Mail Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "SEND Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "SEND Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email Address"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ed9ae0cf-fad5-4825-b669-c52b1465e1f9",
      "name": "Append or update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -464,
        880
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "content": "# Email Send",
        "height": 448,
        "width": 2096,
        "color": 5
      },
      "id": "e1955e9d-bc21-4d79-ada3-25830eb3e922",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ab73a5e-6659-4615-9f03-a1b3dacaa42e",
              "name": "Send Time",
              "type": "string",
              "value": "={{$now.toFormat(\"MM-dd-yyyy (h:mm a)\")}}"
            },
            {
              "id": "a102af99-f990-4f54-aa19-96a4c8002a9b",
              "name": "Email Address",
              "type": "string",
              "value": "={{ $('Wait').item.json['Email Address'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4db19ebd-d57c-42bf-9e7d-271249e91915",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        -944,
        880
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "369e3795-ba2b-45ee-8f9d-f98150afa10e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -2112,
        864
      ],
      "notesInFlow": false,
      "typeVersion": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "926faeab-762e-4e1a-adb3-16f126b3cedf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        -1680,
        880
      ],
      "webhookId": "a8a457d5-f88d-451c-ac51-1af17c8435b0",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "\n\n---\n\n# 🛠 Setup Guide - By Byteonic Labs (www.byteoniclabs.com)\n\nFollow these steps to get started:\n\n1. **Set up the Lead Machine Form**\n   Customize the form fields (Business Type, Location, Lead Number, Email Style) in the **Form Trigger** node. This is how you collect the target lead criteria.\n\n2. **Plug in your [Apify](https://apify.com/) API endpoint**\n   Replace `Apify_Actor_Endpoint_URL` in the **HTTP Request** node with your own Apify actor URL to scrape business data.\n\n3. **Add your [Google Gemini](https://aistudio.google.com/apikey) credentials**\n   This is used in the **Information Extractor** node to find the best email address from a business website.\n\n4. **Connect your [Google Sheets](https://docs.google.com/spreadsheets/)**\n   Link the sheet in both **Append row** and **Append/Update row** nodes. Make sure your sheet has columns for Company Name, Website, Phone, Email, Address, Category, Cold Mail Status, and Send Time.\n\n5. **Add your [OpenAI](https://platform.openai.com/) API key**\n   This powers the cold email generation in the **Information Extractor1** node for subject & body creation.\n\n6. **Connect your [Gmail](https://mail.google.com/) account**\n   In the **Send a message** node, link your Gmail account to send the cold emails automatically.\n\nOnce all connections are set, your workflow will **collect leads, store them, and send cold emails automatically** 🚀\n\n---\n",
        "height": 672,
        "width": 1200
      },
      "id": "bfa4e2b1-8ecd-460c-8362-3d133c5a6777",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3376,
        -80
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a8fe188-5d3a-4a75-888b-266b9ee8a4ef",
  "meta": {
    "instanceId": "1430565956b9a47854f13f9e90b7de345966219660b021b7b84a5f94f2d04fb0"
  },
  "id": "2Q7Ud1yyy7Lzbyg_l0Xww",
  "tags": []
}